/* -----------------navbar--------------------- */
#active {
    border-bottom: 2px solid rgba(214, 196, 196, 0.67);
    border-radius: 9px;
    padding-top: 6px;
    margin-right: 20px;
    padding-bottom: 7px;
    padding-inline: 12px;
}

#active:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size:medium;
    /* margin-right: 0px;
    margin-left: -8px;
    margin-bottom: 16.5px;
    border: 3px solid rgb(214, 196, 196);
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-inline: 30px; */
}

/* .top #active:hover{
    margin-bottom: 30px;
} */

.liii li:hover {
    border: 3px solid rgb(214, 196, 196);
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-inline: 30px;
}

.menuon .liii li:hover {
    border: 3px solid rgb(214, 196, 196);
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-inline: 30px;
}

.liii li:hover a {
    font-size: larger;
    background: -webkit-linear-gradient(204deg, #ffffffc4, rgb(215, 87, 87));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-blur {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-tap-highlight-color: transparent;
    height: 75px;
    width: 100%;
    user-select: none;
    /* position:fixed; */
    /* top: 0; */
    padding: 15px 0;
    background: none;
    z-index: 3;
    transition: all 0.3s ease-out;
}

.nav-blur.top {
    backdrop-filter: blur(10px);
    background-color: rgb(0 0 0 / 9%);
    padding: 7px 0;
    transition: all 0.3s ease-in; 
}

/* .menuon.top {
    backdrop-filter: none;
    background-color: transparent;
} */

/* .menuon .nav-logo {
    z-index: 9999999;
} */

.menuon .liii{
    opacity: 1;
    background-color: rgb(42 40 40 / 84%);
    top: 0;
    /* right: 0; */
    left: 0;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    height: 43rem;
    margin-left: 0;
    padding: 0;
    flex-direction: column;
    row-gap: 56px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    /* transition: all 0.7s ease-out; */
}

.menuon .liii li{
    padding: 0;
    margin: 0;
}

.menuon .liii li a{
    font-size: 34px;
}

.menuon #active{
    margin-right: 0;
}

.menuon .burger{
    z-index: 999999;
}

.menuon .r-nav{
    display: flex;
    opacity: 1;
    height: 190px;
    top: auto;
}

.menuon .right-navbar{

}





/* @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .nav-bg.top {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(3.1px);
        background-color: rgb(49 46 46 / 13%);
        transition: all 0.3s ease;
    }

    .warning {
        display: none;
    }
} */

/* -------------------------section ironman--------------------------- */



.data-title-text {
    opacity: 0;
    margin-bottom: -136px;
    transition: all 1s ease-in;
    font-size: 90px;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(107, 105, 105));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.data-title-text-show {
    opacity: 1;
    margin-bottom: 0;
}

.data-title-text:hover {
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(107, 105, 105));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.ibig-text:hover {
    transition-delay: 1s;
    text-decoration: none;
    letter-spacing: 8px;
    /* padding-left: 20px;
    padding-right: 20px;
    margin-left: 0px; */
    border-radius: 8px;
    background: rgb(211, 62, 62);
    color: rgb(172, 180, 165);
    box-shadow: 0 0 10px rgb(211, 62, 62), 0 0 40px rgb(211, 62, 62), 0 0 80px rgb(211, 62, 62);

}

.ibig-text span {
    position: absolute;
}

.ibig-text span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgb(211, 62, 62));
}

.ibig-text:hover span:nth-child(1) {
    left: 100%;
    transition: 0.8s;
}

.ibig-text span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, rgb(211, 62, 62));
}

.ibig-text:hover span:nth-child(3) {
    right: 100%;
    transition: 0.8s;
    transition-delay: 0.5s;
}

.ibig-text span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(211, 62, 62));
}

.ibig-text:hover span:nth-child(2) {
    top: 100%;
    transition: 0.8s;
    transition-delay: 0.25s;
}

.ibig-text span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(211, 62, 62));
}

.ibig-text:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.8s;
    transition-delay: 0.75s;
}

.ssection-img img {
    width:  84.634%; /*270px;*/
    box-shadow: 0px 0px 70px 0.5px #f13500b8;
    border-radius: 26px;
}

.ssection-img:hover img {
    width: 300px;
    box-shadow: 0px 0px 110px 1px #f13400fe;
    transition: all .4s ease-in-out;
}