@media only screen and (max-width: 1140px){
   
    #dtail p.p1{
        font-size: 65px;
    }

    .nav-blur{
        height: 92px;
    }

    .nav-blur.top{
        height: 110px;
    }

}

@media only screen and (max-width: 825px){

        .test{
            height: calc(var(--vh,1vh)*100);
        }
        
        #main-bg{
            height: calc(var(--vh,1vh)*100);
        }
}
    
