@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Monoton&family=Readex+Pro:wght@200&family=Righteous&family=Sarpanch:wght@500&display=swap');



.video-main {
    justify-content: center;
    height: 100%;
}

.video-main .row {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* 1178px  80%*/
    height: 50%;
}

.video-main .row .row_1 {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.video-main .row .youtube_video {
    width: 55%;
    height: 100%;
    border-radius: 7px;
    border: 0.3rem solid #393434;
}

.video-main .row .details {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    text-align: center;
    color: white;
    width: 40%;
    height: 80%;
    row-gap: 21px;
}

.video-main .row .details .p1 {
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: -webkit-linear-gradient(240deg, #000000, #e8c6c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-main .row .details .p2 {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(136, 133, 132);
    font-size: 22px;
    color: rgba(255, 255, 255, 0.427);
}

.gallery {
    padding-top: 85px;
    display: flex;
    justify-content: center;
    column-gap: 102px;
}

.gallery .item {
    user-select: none;
    width: 22%;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    border: 0.2rem solid #393434;
    transition: all .25s ease-in-out;
}

.gallery .item img {
    width: 100%;
    display: block;
    border-radius: 4px;
}

.gallery .item .youtube_icon {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    /* -webkit-transition: all .3s ease-in-out; */
    transition: all .25s ease-in-out;
}

.gallery .item .youtube_icon img {
    user-select: none;
    width: 50px;
    border: none;
    transition: all .1s ease-in-out;
}

.gallery .item .youtube_icon:hover {
    background-color: rgba(0, 0, 0, 0);
}

.gallery .active{
    /* border: 8px solid red; */
    border: none;
    box-shadow: 0px 0px 60px 1px gray;
}

.gallery .active img{
    border-radius: 7px;
}

.gallery .active .youtube_icon { 
    border: none;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0);
    /* -webkit-box-shadow: 5px 5px 10px; */
}

.gallery .active .youtube_icon img {
    transition-delay: 0.2s;
    opacity: 0;
}

/* .gallery .item .youtube_icon  */
